div.image{
    width: 200px;
    height: 100px;
}
.h3{
    margin: 0px;
}
.img{
    width: 100px;
    height: 100px;
    margin-left: 0%;
    border-radius: 40%;
    margin-top: 0px;
    opacity:0.5;

}

.forms{
    background-color: rgba(16, 16, 16, 0.4);
    text-align: center;
    margin-left: 400px;
    padding-bottom: 5px;

 
    
}
.forms,.lists{
    float:left;
    width: 45%;
    height: 450px;
}
.list{
    background-color:rgb(148, 206, 101);
    margin-left: 20px;
    border-radius: 10px;
    padding-top: 10px;
    height: 450px;
    color: black;
    padding-right: 10px;

}
.password{
    text-align-last: right;
    margin: 0px;
    padding-top: 0.20px;
    color: rgb(101, 101, 238);
}

h4{
    text-align: center;
    color: rgb(247, 246, 248);
    font-size:xx-large;
    padding-top: 0.050px;
    margin: 0;
}
h1{
    text-align: center;
    color: brown;
}
input{
    background-color: rgb(224, 205, 205);
    border-radius: 5px;
    border-style: none;
    width: 250px;
    text-align: center;
    height: 30px;
 
}
button{
    background-color: rgb(240, 240, 44);
    border-radius: 0.8em;
    border-style: none;
    width: 100px;
    height: 40px;
    padding:0px;
}
button:hover{
    background-color: rgb(250, 118, 118);
}
li{
    list-style-type:lower-roman;
    color: grey;
}
body{
    background-color: rgb(85, 83, 83);
}
#fyp{
    padding-bottom: 5px;
    padding-right: 2px;
    border: 0px;
    margin: 0px;
    color:aliceblue;
    
}