body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image:url("../img2.jpg");
    background-color:rgb(207, 204, 204);
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.input-box{
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
    padding-left: 20px;
    padding-right: 10px;
}
.reg{
    margin-top: 60px;
    margin-left: 30%;
    position: center;
    align-items: center;
    width: 450px;
    background-color:rgb(253, 231, 231);
    height:600px;
    border-radius:50px;
    box-sizing:border-box;
    box-shadow: 0px 0px 20px;

}
img{
    width: 140px;
    height: 130px;
    margin-left: 160px;
    border-radius: 80px;
    margin-top: 1%;
}
#one{
margin: 10%;
margin-top: 10px;
}
.input{
    position: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(117, 87, 87);
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}
.submit{
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    border-radius: 80px;
    margin-top: 30px;
    cursor: pointer;
    margin-right: 40px;
    color:white;
    background-color: blue;
}    
.submit:hover{
    cursor: pointer;
    background-color:green;
}