body{
    margin: 5px;
    padding: 0px;
    background-color: #D1F2F9;
}
.container-fluid{
    background-color: rgb(250, 250, 248);
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 25px;
}
.primary-logo{
    height: 60px;
    
}
.navbar-brand{
    margin-bottom: 10px;
}
.icon{
    height: 30px;
}
.btn-outline-danger{
    border-radius: 20px;
}
.icon1{
    height: 70px;
    margin-top: 20px;
    margin-left: 30px;
}
.nav-link{
    color: rgb(253, 252, 252);
}
.icon2{
    height: 18px;
}
#navbar-example3{
    width: 200px;
}